<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-surface-ui-background px-4 py-5 text-foreground md:px-5 md:py-8">
    <section class="mb-[42px] md:mb-12">
      <div class="grid grid-cols-1 gap-3 md:grid-cols-[repeat(auto-fill,minmax(456px,1fr))] md:gap-5 lg:gap-10"
        data-testid="item-grid">
        <div class="w-full"><a href="/wb-city/dine-in/sharing-plates/winnies-crispy-chicken">
            <div class="group relative h-0 w-full overflow-hidden rounded border bg-surface pb-[40%] text-foreground">
              <div
                class="group absolute inset-0 flex bg-interactive-subtle-surface hover:bg-interactive-subtle-surface-hover">
                <div class="relative aspect-square w-2/5 flex-none bg-surface-subtle">
                  <div class="absolute inset-0"><span
                      style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
                        src="https://cdn.mryum.com/prod/51efbd5f-b19c-4f42-8dc0-8a65465586b1" decoding="async"
                        data-nimg="fill" sizes="143px"
                        srcset="https://cdn.mryum.com/prod/51efbd5f-b19c-4f42-8dc0-8a65465586b1 68w, https://cdn.mryum.com/prod/51efbd5f-b19c-4f42-8dc0-8a65465586b1 250w, https://cdn.mryum.com/prod/51efbd5f-b19c-4f42-8dc0-8a65465586b1 380w, https://cdn.mryum.com/prod/51efbd5f-b19c-4f42-8dc0-8a65465586b1 540w, https://cdn.mryum.com/prod/51efbd5f-b19c-4f42-8dc0-8a65465586b1 800w, https://cdn.mryum.com/prod/51efbd5f-b19c-4f42-8dc0-8a65465586b1 1920w"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"><noscript></noscript></span>
                  </div>
                </div>
                <div class="flex-1 overflow-hidden">
                  <div
                    class="relative flex h-full flex-col justify-between p-3 transition-colors duration-300 ease-out md:px-4">
                    <div class="flex-1">
                      <h3 class="mb-1 capitalize text-foreground my-label-md" data-testid="menu-item-name"><span
                          class="line-clamp-2">Winnies Crispy Chicken</span></h3>
                      <div class="text-foreground transition-colors duration-300 ease-out my-body-sm"
                        data-testid="menu-item-description"><span class="line-clamp-2">Crispy chicken pieces
                          marinated in buttermilk and coated in Winnies herbs and spices, with aioli</span>
                      </div>
                    </div>
                    <div
                      class="absolute inset-x-0 bottom-0 flex items-center justify-between bg-gradient-to-t from-[theme(backgroundColor.interactive-subtle-surface)] via-[theme(backgroundColor.interactive-subtle-surface)] p-3 leading-none group-hover:from-[theme(backgroundColor.interactive-subtle-surface-hover)] group-hover:via-[theme(backgroundColor.interactive-subtle-surface-hover)] md:px-4">
                      <div class="flex mr-4 my-body-sm-bold" data-testid="menu-item-price">
                        <div data-testid="menu-item-display-price">$20.00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="'w-full"><a href="/wb-city/dine-in/sharing-plates/garlic-prawns">
            <div class="group relative h-0 w-full overflow-hidden rounded border bg-surface pb-[40%] text-foreground">
              <div
                class="group absolute inset-0 flex bg-interactive-subtle-surface hover:bg-interactive-subtle-surface-hover">
                <div class="relative aspect-square w-2/5 flex-none bg-surface-subtle">
                  <div class="absolute inset-0"><span
                      style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
                        src="https://cdn.mryum.com/prod/61939a82-2217-470f-82c9-3c7d9ddd3fae" decoding="async"
                        data-nimg="fill"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
                        sizes="143px"
                        srcset="https://cdn.mryum.com/prod/61939a82-2217-470f-82c9-3c7d9ddd3fae 68w, https://cdn.mryum.com/prod/61939a82-2217-470f-82c9-3c7d9ddd3fae 250w, https://cdn.mryum.com/prod/61939a82-2217-470f-82c9-3c7d9ddd3fae 380w, https://cdn.mryum.com/prod/61939a82-2217-470f-82c9-3c7d9ddd3fae 540w, https://cdn.mryum.com/prod/61939a82-2217-470f-82c9-3c7d9ddd3fae 800w, https://cdn.mryum.com/prod/61939a82-2217-470f-82c9-3c7d9ddd3fae 1920w"><noscript></noscript></span>
                  </div>
                </div>
                <div class="flex-1 overflow-hidden">
                  <div
                    class="relative flex h-full flex-col justify-between p-3 transition-colors duration-300 ease-out md:px-4">
                    <div class="flex-1">
                      <h3 class="mb-1 capitalize text-foreground my-label-md" data-testid="menu-item-name"><span
                          class="line-clamp-2">Garlic Prawns</span></h3>
                      <div class="text-foreground transition-colors duration-300 ease-out my-body-sm"
                        data-testid="menu-item-description"><span class="line-clamp-2">Quick fire garlic prawns
                          on a bed of rocket leaves, julienne carrots and cucumber</span></div>
                    </div>
                    <div
                      class="absolute inset-x-0 bottom-0 flex items-center justify-between bg-gradient-to-t from-[theme(backgroundColor.interactive-subtle-surface)] via-[theme(backgroundColor.interactive-subtle-surface)] p-3 leading-none group-hover:from-[theme(backgroundColor.interactive-subtle-surface-hover)] group-hover:via-[theme(backgroundColor.interactive-subtle-surface-hover)] md:px-4">
                      <div class="flex mr-4 my-body-sm-bold" data-testid="menu-item-price">
                        <div data-testid="menu-item-display-price">$19.00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="'w-full"><a href="/wb-city/dine-in/sharing-plates/winnies-platter">
            <div class="group relative h-0 w-full overflow-hidden rounded border bg-surface pb-[40%] text-foreground">
              <div
                class="group absolute inset-0 flex bg-interactive-subtle-surface hover:bg-interactive-subtle-surface-hover">
                <div class="relative aspect-square w-2/5 flex-none bg-surface-subtle">
                  <div class="absolute inset-0"><span
                      style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
                        src="https://cdn.mryum.com/prod/ce4f372c-d76f-4499-a5e6-72a72b3ef2f1" decoding="async"
                        data-nimg="fill" sizes="143px"
                        srcset="https://cdn.mryum.com/prod/ce4f372c-d76f-4499-a5e6-72a72b3ef2f1 68w, https://cdn.mryum.com/prod/ce4f372c-d76f-4499-a5e6-72a72b3ef2f1 250w, https://cdn.mryum.com/prod/ce4f372c-d76f-4499-a5e6-72a72b3ef2f1 380w, https://cdn.mryum.com/prod/ce4f372c-d76f-4499-a5e6-72a72b3ef2f1 540w, https://cdn.mryum.com/prod/ce4f372c-d76f-4499-a5e6-72a72b3ef2f1 800w, https://cdn.mryum.com/prod/ce4f372c-d76f-4499-a5e6-72a72b3ef2f1 1920w"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"><noscript></noscript></span>
                  </div>
                </div>
                <div class="flex-1 overflow-hidden">
                  <div
                    class="relative flex h-full flex-col justify-between p-3 transition-colors duration-300 ease-out md:px-4">
                    <div class="flex-1">
                      <h3 class="mb-1 capitalize text-foreground my-label-md" data-testid="menu-item-name"><span
                          class="line-clamp-2">Winnies Platter</span></h3>
                      <div class="text-foreground transition-colors duration-300 ease-out my-body-sm"
                        data-testid="menu-item-description"><span class="line-clamp-2">Cheese sticks, jalapeño
                          bites, crispy chicken, chicken nibbles and garlic prawns with dipping sauce</span>
                      </div>
                    </div>
                    <div
                      class="absolute inset-x-0 bottom-0 flex items-center justify-between bg-gradient-to-t from-[theme(backgroundColor.interactive-subtle-surface)] via-[theme(backgroundColor.interactive-subtle-surface)] p-3 leading-none group-hover:from-[theme(backgroundColor.interactive-subtle-surface-hover)] group-hover:via-[theme(backgroundColor.interactive-subtle-surface-hover)] md:px-4">
                      <div class="flex mr-4 my-body-sm-bold" data-testid="menu-item-price">
                        <div data-testid="menu-item-display-price">$70.00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="'w-full"><a href="/wb-city/dine-in/sharing-plates/jalapeno-bites">
            <div class="group relative h-0 w-full overflow-hidden rounded border bg-surface pb-[40%] text-foreground">
              <div
                class="group absolute inset-0 flex bg-interactive-subtle-surface hover:bg-interactive-subtle-surface-hover">
                <div class="relative aspect-square w-2/5 flex-none bg-surface-subtle">
                  <div class="absolute inset-0"><span
                      style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
                        src="https://cdn.mryum.com/prod/9645e427-4b1d-4e50-ab35-3946e8315a0c" decoding="async"
                        data-nimg="fill" sizes="143px"
                        srcset="https://cdn.mryum.com/prod/9645e427-4b1d-4e50-ab35-3946e8315a0c 68w, https://cdn.mryum.com/prod/9645e427-4b1d-4e50-ab35-3946e8315a0c 250w, https://cdn.mryum.com/prod/9645e427-4b1d-4e50-ab35-3946e8315a0c 380w, https://cdn.mryum.com/prod/9645e427-4b1d-4e50-ab35-3946e8315a0c 540w, https://cdn.mryum.com/prod/9645e427-4b1d-4e50-ab35-3946e8315a0c 800w, https://cdn.mryum.com/prod/9645e427-4b1d-4e50-ab35-3946e8315a0c 1920w"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"><noscript></noscript></span>
                  </div>
                </div>
                <div class="flex-1 overflow-hidden">
                  <div
                    class="relative flex h-full flex-col justify-between p-3 transition-colors duration-300 ease-out md:px-4">
                    <div class="flex-1">
                      <h3 class="mb-1 capitalize text-foreground my-label-md" data-testid="menu-item-name"><span
                          class="line-clamp-2">Jalapeno Bites</span></h3>
                      <div class="text-foreground transition-colors duration-300 ease-out my-body-sm"
                        data-testid="menu-item-description"><span class="line-clamp-2">Jalapeños and cream
                          cheese in a golden crumb shell</span></div>
                    </div>
                    <div
                      class="absolute inset-x-0 bottom-0 flex items-center justify-between bg-gradient-to-t from-[theme(backgroundColor.interactive-subtle-surface)] via-[theme(backgroundColor.interactive-subtle-surface)] p-3 leading-none group-hover:from-[theme(backgroundColor.interactive-subtle-surface-hover)] group-hover:via-[theme(backgroundColor.interactive-subtle-surface-hover)] md:px-4">
                      <div class="flex mr-4 my-body-sm-bold" data-testid="menu-item-price">
                        <div data-testid="menu-item-display-price">$15.00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
        <div class="'w-full"><a href="/wb-city/dine-in/sharing-plates/cheese-sticks">
            <div class="group relative h-0 w-full overflow-hidden rounded border bg-surface pb-[40%] text-foreground">
              <div
                class="group absolute inset-0 flex bg-interactive-subtle-surface hover:bg-interactive-subtle-surface-hover">
                <div class="relative aspect-square w-2/5 flex-none bg-surface-subtle">
                  <div class="absolute inset-0"><span
                      style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
                        src="https://cdn.mryum.com/prod/eb442d9a-e253-4ef8-a4f4-ba5de03736d6" decoding="async"
                        data-nimg="fill" sizes="143px"
                        srcset="https://cdn.mryum.com/prod/eb442d9a-e253-4ef8-a4f4-ba5de03736d6 68w, https://cdn.mryum.com/prod/eb442d9a-e253-4ef8-a4f4-ba5de03736d6 250w, https://cdn.mryum.com/prod/eb442d9a-e253-4ef8-a4f4-ba5de03736d6 380w, https://cdn.mryum.com/prod/eb442d9a-e253-4ef8-a4f4-ba5de03736d6 540w, https://cdn.mryum.com/prod/eb442d9a-e253-4ef8-a4f4-ba5de03736d6 800w, https://cdn.mryum.com/prod/eb442d9a-e253-4ef8-a4f4-ba5de03736d6 1920w"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"><noscript></noscript></span>
                  </div>
                </div>
                <div class="flex-1 overflow-hidden">
                  <div
                    class="relative flex h-full flex-col justify-between p-3 transition-colors duration-300 ease-out md:px-4">
                    <div class="flex-1">
                      <h3 class="mb-1 capitalize text-foreground my-label-md" data-testid="menu-item-name"><span
                          class="line-clamp-2">Cheese Sticks</span></h3>
                      <div class="text-foreground transition-colors duration-300 ease-out my-body-sm"
                        data-testid="menu-item-description"><span class="line-clamp-2">Mozzarella sticks coated
                          in crispy bread crumbs with chipotle sauce and kewpie mayonnaise</span></div>
                    </div>
                    <div
                      class="absolute inset-x-0 bottom-0 flex items-center justify-between bg-gradient-to-t from-[theme(backgroundColor.interactive-subtle-surface)] via-[theme(backgroundColor.interactive-subtle-surface)] p-3 leading-none group-hover:from-[theme(backgroundColor.interactive-subtle-surface-hover)] group-hover:via-[theme(backgroundColor.interactive-subtle-surface-hover)] md:px-4">
                      <div class="flex mr-4 my-body-sm-bold" data-testid="menu-item-price">
                        <div data-testid="menu-item-display-price">$15.00</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
      </div>
    </section>

  </div>
</ion-content>