<ion-header>
  <ion-toolbar class="">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <div class="flex w-full min-h-screen md:flex-row">
    <!-- first half -->
    <div class="md:max-w-1/2 hidden flex-1 md:block ">
      <div class="w-full h-screen bg-center bg-no-repeat bg-cover sticky top-2 "
        style="background-image: url('https://cdn.mryum.com/prod/96a7b52e-2520-4430-9ad2-8d9cbff09165');">
        <div class="w-full h-full bg-black/40 items-center justify-center flex">
          <img class="w-2/3 aspect-square border-4 rounded-3xl"
          src="https://dynamic.brandcrowd.com/asset/logo/937e0eec-eebf-4294-9029-41619d6c3786/logo-search-grid-1x?logoTemplateVersion=1&v=638369310055500000" alt="">
        </div>
      </div>
    </div>
    <!-- second half -->
    <div class="md:max-w-1/2 relative w-full flex-1  ">
      <div class="">

        <!-- Category blocks -->
        <div
          class="grid sm:grid-cols-1  md:grid-cols-[repeat(auto-fill,minmax(456px,1fr))] gap-2 p-2">
          <ng-container *ngFor="let item of [].constructor(50) index as i">

            <div class="group relative w-full rounded pb-[40%]">
              <div [routerLink]="['/itemlist']"
                class="item-block-tw-effect group absolute inset-0 m-2 flex cursor-pointer overflow-hidden rounded-md border-2 border-gray-200 shadow-lg hover:bg-gray-100">
                <div *ngIf="!((i+1)<=4)" class="relative w-2/5 flex-none ">
                  <div class="absolute inset-0">
                    <img class="w-full"
                      src="https://qt.extraorder.app/api/assets/5674318776238080/NVivv-wLz8ThQoaZW9TDs31nB0VeC2oIUpAPe-bnw5A.webp" />
                  </div>
                </div>
                <div class="flex-1 h-full flex-col text-center place-content-center  md:px-4">
                  <h3 class="mb-1">
                    <span class="line-clamp-2 text-sm text-black max-sm:text-sm">Category {{i+1}}</span>
                  </h3>
                  <span class="text-4xl font-bold max-xs:hidden">
                    &rarr;
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>



      </div>
    </div>
  </div>






  <!-- Category Blocks -->
  <!-- <div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-[repeat(auto-fill,minmax(456px,1fr))] gap-2 p-2">
    <ng-container *ngFor="let item of [].constructor(10) index as i">

      <div class="group relative w-full rounded pb-[40%]">
        <a href="/itemlist"
          class="item-block-tw-effect group absolute inset-0 m-2 flex cursor-pointer overflow-hidden rounded-md border-2 border-gray-200 shadow-lg hover:bg-gray-100">
          <div *ngIf="!((i+1)<=4)" class="relative w-2/5 flex-none ">
            <div class="absolute inset-0">
              <img class="w-full"
                src="https://qt.extraorder.app/api/assets/5674318776238080/NVivv-wLz8ThQoaZW9TDs31nB0VeC2oIUpAPe-bnw5A.webp" />
            </div>
          </div>
          <div class="flex-1 h-full flex-col text-center place-content-center p-3 md:px-4">
            <h3 class="mb-1">
              <span class="line-clamp-2 text-lg text-black max-sm:text-sm">Category {{i+1}}</span>
            </h3>
            <span class="text-4xl font-bold max-xs:hidden">
              &rarr;
            </span>
          </div>
        </a>
      </div>
    </ng-container>
  </div> -->




</ion-content>